.background{
    background-color: green;
    width: 100%;
    height:100vh; 
    cursor: pointer;   
}
.display, h1, span{
    color:rgb(218, 241, 183);
}
/*.container{
    margin-left: 36%;
    width: 28%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}*/
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
/*.box{
    border:1px solid black;
    width: 100%;
    height: 16vh;
    color:rgb(218, 241, 183);
    font-size: 100px;
    text-align: center;
}*/
.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
h1{
    text-align: center;
    padding-top: 30px;
}
.display, .controls{
    text-align: center;
}
.display{
    font-size: 20px;
}
/*#restart{
    padding:6px;
    background-color: cadetblue;
    color:rgb(218, 241, 183);
    font-size: 18px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
 #restart:hover {
    color:green;
    background-color: ivory;
}*/
.display-player{
    color:rgb(218, 241, 183);
}
 